<div class="card">
  <h1><%= @cocktail.name %></h1>
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <h3>Ingredients:</h3>
   <% @cocktail.doses.each do |dose| %>
        <div class="card d-flex">
        <p><%= dose.description %> - <%= dose.ingredient.name %> | <%= link_to "X", cocktail_dose_path(dose), method: :delete  %></p>
        </div>

      <% end %>
</div>
<div class="card">
  <%= link_to "Add Doses", new_cocktail_dose_path(@cocktail)  %>
</div>
<div class="card">
  <%= link_to "Back to Menu", cocktails_path  %>
</div>
